header{
    display: flex;
    align-items: center;    
    justify-content: center;
    margin-bottom: 5%;
}

.logo{
    width: 5%;
    border-radius: 50%;
    padding: 1%;
    margin-top: 2%;
}

.navLinks{
    display: flex;
    justify-content: center;   
    width: 80%;
    
}




.headerLinksHovered{
    padding: 2%;
    font-size: 24px;
    font-weight: 500;
    color:$colorLinks;  
}

.headerLinksHovered:hover{
    text-decoration: underline;
    cursor: pointer;
}


.burgerBox{
    display: none;
   
}



.closeButton{
    background-color: $colorPrincipal;
}

@media screen and (max-width: 321px){
    .navLinks{
        display: none;
    }

    .logo{
        min-width: 20%;         
    }

    .navLinksMovile{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
        a{
            padding-top: 10%;
            border-bottom: 2px solid $colorLinks;
            font-size: larger;
            font-weight: 600;
        }
    }

    header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .burgerButton{
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        position: relative;
        left: 40px;
        
        
    }

    .burgerBox{
        display: flex;
        justify-content: end;
    }
}
