
.formPrincipal{
  display:flex;
  background-color: antiquewhite;  
  width: 90%;
  margin-left: 5%;
  text-align: center;
}


.lupa{
  width: 6%;
  padding: 2%;  
}

.butonWithBgImg{
  background-color: antiquewhite;  
  color: transparent;
  border-style: none;
  padding: 1%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size:50%;
  background-image:url("https://cdn-icons-png.flaticon.com/512/93/93642.png") ;
}

.mainInputNotBorder {
  background-color: antiquewhite;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-color: transparent;
  outline: transparent;
}

.publicaciones {
  width: 100%;
  text-align: start;
}

.articleImage {
  width: 100%;
}

.article {
  margin-left: 5%;
  width: 90%;
  text-align: center;
}

.publicationH4Title {
  font-size: 3em;
  margin-bottom: 0.5%;
  padding: 0;
  margin-top: 3%;
}

.subtitle{
  font-size:1.5em;
  margin-top: 0.5%;
  padding: 0;
}


.likeArticle{
  width: 20px;
}

.shareImg{
  width: 20px;
  background-color: $colorPrincipal;
  padding: 2%;
}

.shareBtn{
  background-color: $colorPrincipal;
  border-style: none;
}


.btnLike{
  background-color: $colorPrincipal;
  border-style: none;

}

.btnLike:hover{
  filter: blur(0.1rem);
}



/* busquedas */

.searchImg{
  width: 60%;
}

.searchBox{
  margin:2% 10% 2% 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2{
    margin-bottom: 1%;
  }

  h5{
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
  }

  
}

