.savedTitle{
    color:$colorLinks;
    font-size: xx-large;
    text-align: center;
}

.likeadasBox{
    display: flex;
    flex-wrap: wrap;
}


.dinamicP{
    font-size: x-large;
    color: $colorLinks;
    font-weight: 500;
    margin-left: 2%;
}


.card{
    width:250px;
    height: 250px;
    min-width:250px;
    min-height: 250px;
    text-align: center;
    position: relative;    
    h5{
        padding: 0;
        margin: 0;
        font-size: large;
    }    
    p{
        padding: 0;
        margin: 0;
        font-size: small;
    }

}


.cardImg{
    width: 80%;
    height: 60%;
}


.cardLike{
    width: 10%;
    position: absolute;
    top:2%;
    left: 12%;
}