body {
  background-color: #82F1F1;
}

.styledForm {
  width: 50%;
}
.styledForm h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  margin-bottom: 2%;
  margin-top: 1%;
  font-style: bold;
  font-size: larger;
}

.formInputNotBorder {
  background-color: antiquewhite;
  border: #808090 0.5px solid;
  min-width: 298px;
  min-height: 38px;
}

.loginButton {
  padding: 3%;
  margin: 5%;
  min-width: 300px;
  min-height: 40px;
  background-color: #F4236C;
  border-style: none;
  color: antiquewhite;
}

.formatImg {
  border-radius: 50%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  width: 40%;
  margin-top: 10%;
}

.loginFooterFixed {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.footerParagraphLeft {
  color: #63688E;
  justify-self: flex-start;
  width: 50%;
  text-align: left;
}

.footerParagraphRight {
  color: #F4236C;
  justify-self: flex-end;
  width: 50%;
  text-align: center;
  font-weight: 600;
  font-size: large;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.logo {
  width: 5%;
  border-radius: 50%;
  padding: 1%;
  margin-top: 2%;
}

.navLinks {
  display: flex;
  justify-content: center;
  width: 80%;
}

.headerLinksHovered {
  padding: 2%;
  font-size: 24px;
  font-weight: 500;
  color: #63688E;
  text-decoration: none;
}

.headerLinksHovered:hover {
  text-decoration: underline;
  cursor: pointer;
}

.burgerBox {
  display: none;
}

.closeButton {
  background-color: #82F1F1;
}

@media screen and (max-width: 321px) {
  .navLinks {
    display: none;
  }
  .logo {
    min-width: 20%;
  }
  .navLinksMovile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  .navLinksMovile a {
    padding-top: 10%;
    border-bottom: 2px solid #63688E;
    font-size: larger;
    font-weight: 600;
  }
  header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .burgerButton {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    position: relative;
    left: 40px;
  }
  .burgerBox {
    display: flex;
    justify-content: end;
  }
}
.inputSearch {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 40px;
  padding: 1%;
  background-color: antiquewhite;
  border: grey solid 0.5px;
  display: flex;
}
.inputSearch img {
  background-color: antiquewhite;
  padding: 3%;
}

.mainInputNotBorder {
  background-color: antiquewhite;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-color: transparent;
  outline: transparent;
}

.publicaciones {
  width: 100%;
  text-align: start;
}

.articleImage {
  width: 100%;
}

.article {
  margin-left: 5%;
  width: 90%;
  text-align: center;
}

.publicationH4Title {
  font-size: 3em;
  margin-bottom: 0.5%;
  padding: 0;
}

.subtitle {
  font-size: 1.5em;
  margin-top: 0.5%;
  padding: 0;
}

.likeArticle {
  width: 20px;
}

.btnLike {
  background-color: #82F1F1;
  border-style: none;
}

.btnLike:hover {
  filter: blur(0.1rem);
}

.createTitleCentered {
  text-align: center;
  margin-top: 3%;
}

.styledForm {
  width: 80%;
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.styledForm label {
  margin-bottom: 2%;
  margin-top: 1%;
}

.inputFile {
  display: none;
}

.inputFileLabel {
  background-color: #F4236C;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
  margin-top: 4%;
}
.inputFileLabel .camera {
  width: 10%;
  color: antiquewhite;
  background-color: #F4236C;
  font-weight: 500;
  font-size: medium;
  padding: 0.5%;
}

.inputText {
  margin: 3%;
  text-align: center;
}

.postButton {
  padding: 3%;
  margin-top: 5%;
  min-width: 100%;
  min-height: 40px;
  background-color: #F4236C;
  border-style: none;
  color: black;
  font-weight: 500;
  font-size: medium;
}

footer {
  width: 100%;
  margin-top: 0.5%;
  display: flex;
  height: 5%;
  justify-content: space-evenly;
  align-items: center;
  background-color: aliceblue;
}

.footerSearch {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #F4236C;
  margin-top: 1%;
}
.footerSearch img {
  width: 25px;
}

.footerSave {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
}
.footerSave img {
  width: 25px;
}

.savedTitle {
  color: #63688E;
  font-size: xx-large;
  text-align: center;
}

.likeadasBox {
  display: flex;
}

.dinamicP {
  font-size: x-large;
  color: #63688E;
  font-weight: 500;
}

.card {
  width: 250px;
  height: 250px;
  text-align: center;
  position: relative;
}
.card h5 {
  padding: 0;
  margin: 0;
  font-size: large;
}
.card p {
  padding: 0;
  margin: 0;
  font-size: small;
}

.cardImg {
  width: 80%;
  height: 60%;
}

.cardLike {
  width: 10%;
  position: absolute;
  top: 2%;
  left: 12%;
}/*# sourceMappingURL=styles.css.map */